GEMINI_API_KEY=ta_cle_gemini_ici
GMAIL_ADDRESS=ton.adresse@gmail.com
GMAIL_APP_PASSWORD=motdepasseappgmail
EMAIL_DESTINATAIRE=destinataire@gmail.com
SCORE_MINIMUM_INCLUSION=4
NB_ARTICLES_SECONDAIRES=6
JOURS_RETENTION=120
